{% extends 'base.html' %} {% load static %} {% block content %}

<br>
<br>
<section class="services section container" id="services">
    <div class="row">
    <div class="col-lg-4">
        <div class="card-body">
            <h5 class="card-title ">INTRODUCTION AU COURS JAVASCRIPT</h5>
            <!-- Default List group -->
            {% for sct1 in scripts1 %}
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'javascriptdetail' sct1.title %}"class="underline">{{sct1.title}}</a></li>
              
            </ul><!-- End Default List group -->
            {% endfor %}
    </div>


       
</div>
<div class="col-lg-4">
        <div class="card-body">
            <h5 class="card-title ">LES STRUCTURES DE FLUX </h5>
            <!-- Default List group -->
            {% for sct2 in scripts2 %}
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'javascriptdetail' sct2.title %}"class="underline">{{sct2.title}}</a></li>
              
            </ul><!-- End Default List group -->
            {% endfor %}
    </div>


    
       

    
       
</div>
<div class="col-lg-4">
        <div class="card-body">
            <h5 class="card-title ">LES FONCTIONS EN JAVASCRIPT</h5>
            <!-- Default List group -->
            {% for sct3 in scripts3 %}
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'javascriptdetail' sct3.title %}"class="underline">{{sct3.title}}</a></li>
              
            </ul><!-- End Default List group -->
            {% endfor %}
    </div>

    
       
</div>
<div class="col-lg-4">
        <div class="card-body">
            <h5 class="card-title ">LES OBJET EN JAVASCRIPT</h5>
            <!-- Default List group -->
            {% for sct4 in scripts4 %}
            <ul class="list-group">
                <li class="list-group-item"><a href="#"class="underline">{{sct4.title}}</a></li>
              
            </ul><!-- End Default List group -->
            {% endfor %}
    </div>

    
       
</div>
<div class="col-lg-4">
        <div class="card-body">
            <h5 class="card-title ">LES TYPES EN JAVASCRIPT</h5>
            <!-- Default List group -->
            {% for sct5 in scripts5 %}
            <ul class="list-group">
                <li class="list-group-item"><a href="#"class="underline">{{sct5.title}}</a></li>
              
            </ul><!-- End Default List group -->
            {% endfor %}
    </div>

    
       
</div>
<div class="col-lg-4">
        <div class="card-body">
            <h5 class="card-title ">LES VARIABLES SUPERGLOBALES PHP</h5>
            <!-- Default List group -->
            {% for sct6 in scripts6 %}
            <ul class="list-group">
                <li class="list-group-item"><a href="#"class="underline">{{sct6.title}}</a></li>
              
            </ul><!-- End Default List group -->
            {% endfor %}
    </div>




</div>
<div class="col-lg-4">
        <div class="card-body">
            <h5 class="card-title ">LES EXCEPTIONS  ET  LES MODULES</h5>
            <!-- Default List group -->
            {% for sct7 in scripts7 %}
            <ul class="list-group">
                <li class="list-group-item"><a href="#"class="underline">{{sct7.title}}</a></li>
              
            </ul><!-- End Default List group -->
            {% endfor %}
    </div>









</div>
<div class="col-lg-4">
        <div class="card-body">
            <h5 class="card-title ">ECMASCRIPT 6 OU  JAVASCRIPT ES6</h5>
            <!-- Default List group -->
            {% for sct8 in scripts8 %}
            <ul class="list-group">
                <li class="list-group-item"><a href="#"class="underline">{{sct8.title}}</a></li>
              
            </ul><!-- End Default List group -->
            {% endfor %}
    </div>







</div>
<div class="col-lg-4">
        <div class="card-body">
            <h5 class="card-title ">JAVASCRIPT ASYNCHRONE</h5>
            <!-- Default List group -->
            {% for sct9 in scripts9 %}
            <ul class="list-group">
                <li class="list-group-item"><a href="#"class="underline">{{sct10.title}}</a></li>
              
            </ul><!-- End Default List group -->
            {% endfor %}
    </div>









</div>
<div class="col-lg-4">
        <div class="card-body">
            <h5 class="card-title ">   NOTIONS AVANCÉES EN</h5>
            <!-- Default List group -->
            {% for sct10 in scripts10 %}
            <ul class="list-group">
                <li class="list-group-item"><a href="#"class="underline">{{sct10.title}}</a></li>
              
            </ul><!-- End Default List group -->
            {% endfor %}
    </div>




    



    


    </div>
</section>
{% endblock content %}