{% extends 'base.html' %} {% load static %} {% block content %}
<title>{% block title %}Services{% endblock title %}</title>


    <!-- services section starts  -->
    <div class="row">
      {% for service in list_services %}
      <div class="col-md-12">

        <section class="services section container" id="services">
            
          <div class="services__item">
            <div class="services__item">
              <div class="icon__box">
                  <img src="{{service.image.url}}" alt=""
                  class="services__icon"
                  />
                  <div class="services__dot">
                      <span class="dot"></span>
                  </div>
              </div>
              <h3 class="services__title text-lg">{{service.title}}</h3>
              <p class="descripblo">
                {{service.description|safe}}
              </p>
       





        </section>
       
      </div>

      {% endfor %}
    </div>

    <!-- services section ends -->

{% endblock content %}
